@define-color base      #1e1e2e;
@define-color surface   #313244;
@define-color text      #cdd6f4;
@define-color accent    #89dceb; /* Sky blue */

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  color: @text;
}

.notification-row {
  background-color: @surface;
  border-radius: 12px;
  border: 1px solid @accent;
  margin: 6px;
  padding: 8px;
}

.notification-summary {
  color: @accent;
  font-weight: bold;
}

.notification-body {
  color: @text;
}

.widget-inhibitors {
  background: transparent;
  padding: 5px;
}

